<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * @category    Iwebics
 * @package     Iwebics_LayeredCategory
*/
-->
<config>
    <modules>
        <Iwebics_LayeredCategory>
            <version>0.0.1</version>
        </Iwebics_LayeredCategory>
    </modules>
    <global>
        <blocks>
            <layeredcategory>
                <class>Iwebics_LayeredCategory_Block</class>
            </layeredcategory>
        </blocks>
        <models>
            <layeredcategory>
                <class>Iwebics_LayeredCategory_Model</class>
            </layeredcategory>
            <catalog>
                <rewrite>
                    <layer>Iwebics_LayeredCategory_Model_Catalog_Layer</layer>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer>Iwebics_LayeredCategory_Model_Catalogsearch_Layer</layer>
                </rewrite>
            </catalogsearch>
        </models>
        <helpers>
            <layeredcategory>
                <class>Iwebics_LayeredCategory_Helper</class>
            </layeredcategory>
        </helpers>
        <resources>
            <layeredcategory_setup>
                <setup>
                    <module>Iwebics_LayeredCategory</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </layeredcategory_setup>
        </resources>
    </global>
    <default>
        <catalog>
            <layered_navigation><default_layered_attribute>price</default_layered_attribute></layered_navigation>
        </catalog>
    </default>
</config>
